{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "rules": {
    "react/prop-types": false
  },
  "plugins": ["jest"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  }
}